<div class="layout-topbar">
    <a class="layout-topbar-logo" [routerLink]="RoutesEnums.MAIN">
        <mc-logo></mc-logo>
        <span>{{ 'app.topbar.logo' | translate }}</span>
    </a>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showMenuSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.menuSidebarVisible
        }"
    >
        <button
            class="p-link layout-topbar-button"
            (click)="onConfigButtonClick()"
        >
            <i class="pi pi-cog"></i>
            <span>{{ 'app.topbar.settings' | translate }}</span>
        </button>
        <button
            *ngIf="!authService.isAuthenticated()"
            class="p-link layout-topbar-button"
            (click)="onLogin()"
        >
            <i class="pi pi-sign-in"></i>
            <span>{{ 'app.topbar.login' | translate }}</span>
        </button>
        <button
            *ngIf="authService.isAuthenticated()"
            class="p-link layout-topbar-button"
            (click)="onLogout()"
        >
            <i class="pi pi-sign-out"></i>
            <span>{{ 'app.topbar.logout' | translate }}</span>
        </button>
    </div>
</div>
