<div class='layout-topbar'>
  <a class='layout-topbar-logo' [routerLink]='RoutesEnums.MAIN'>
    <img
      src="assets/layout/images/{{layoutService.config.colorScheme === 'dark'
    ? 'logo-white-theme'
    : 'logo-dark-theme'}}.svg"
      alt='logo'>
    <span>{{'app.topbar.logo' | translate}}</span>
  </a>

  <button #topbarmenubutton class='p-link layout-topbar-menu-button layout-topbar-button'
          (click)='layoutService.showMenuSidebar()'>
    <i class='pi pi-ellipsis-v'></i>
  </button>

  <div #topbarmenu class='layout-topbar-menu'
       [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.menuSidebarVisible}">
    <button class='p-link layout-topbar-button'>
      <i class='pi pi-user'></i>
      <span>{{'app.topbar.profile' | translate}}</span>
    </button>
    <button class='p-link layout-topbar-button' (click)='onConfigButtonClick()'>
      <i class='pi pi-cog'></i>
      <span>{{'app.topbar.settings' | translate}}</span>
    </button>
  </div>
</div>
